* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
/* LEFT */
.left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.541);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 35px;
  height: 100vh;
}

.menu .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.links a {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

/* LEFT */

.right {
  min-height: 100vh;
  width: calc(100% - 300px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header
{
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.footer {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.541);
}

.content
{
  
  padding: 50px;
}